<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to ng-ax-path Demo!
  </h1>
</div>
<h3>Here are the data: </h3>
<ul>
  <li>
    <h4>data = [[3,10],[6,18],[9,26],[10,60],[12,40],[15,60],[18,80]];</h4>
  </li>
  <li>
    <h4>data2 = [[2,10],[4,18],[7,26],[9,60],[10,40],[12,60],[16,80], [18,90], [20,120]];</h4>
  </li>
  <li>
    <h4>data3 = [[2,3],[4,7],[7,14],[9,23],[10,34],[12,16],[16,67], [18,16], [20,78]];</h4>
  </li>
</ul>

<ng-ax-path [coordinate]="coordinate"></ng-ax-path>