
.ng-ax-path-svg .axis path,
.ng-ax-path-svg .axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.ng-ax-path-svg .legend text,
.ng-ax-path-svg .axis text {
  font: 10px sans-serif;
}
